<mat-toolbar >
  <mat-toolbar-row>
    <span>Manual RFX</span>
    <span class="example-spacer"></span>
    <span class="fill-span">RFX Number: REQXXXXXXX</span>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="4" rowHeight="4:3">
    <mat-grid-tile [colspan]="1" [rowspan]="1"><app-datecomp></app-datecomp></mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1"><app-table></app-table></mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1"><app-form></app-form></mat-grid-tile>
  </mat-grid-list>
